<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
  <link rel="stylesheet" href="/Public/Css/table.css">
  <link rel="stylesheet" href="/Public/Css/standard.css">
  <link rel="stylesheet" href="/Public/Css/login.css">
  <link rel="stylesheet" href="/Public/Css/light.css">
  <link id="active-stylesheet" href="" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
  <h1>Login</h1>
  <div class="content">
    <form action="/login" method="post">
      <div class="input-field">
          <input type="email" name="email" id="email" placeholder="Enter E-Mail" required>
      </div>
      <br>
      <div class="input-field">
          <input type="password" name="passord" id="passord" placeholder="Enter Password" required>
      </div>
      <br>
      <input class="login" type="submit" value="Log In">
      <br>
      <br>
      <button class="signup"><a href="/signup">Sign Up</a></button>
    </form>

    <label for="switch-options">Themes:</label>
    <select id="switch-options">
      <option value="switch-options__light" data-stylesheet="/Public/Css/light.css">Light</option>
      <option value="switch-options__dark" data-stylesheet="/Public/Css/dark.css">Dark</option>
    </select>
    <br>
    <button id="clear-storage">Clear Storage</button>
  </div>
</div>
<script src="/Public/JavaScript/switchThemes.js"></script>
</body>
</html>
